src/main/app/large-xml-processing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="large-xml-processingFlow">
        
        <file:inbound-endpoint path="/Users/ashleyosbourne/inbound" connector-ref="File" responseTimeout="10000" doc:name="read XML file" moveToDirectory="/Users/ashleyosbourne/outbound" moveToPattern="#[server.dateTime]-#[message.inboundProperties['originalFilename']]"> 
            <file:filename-regex-filter pattern="(.*).xml" caseSensitive="false"></file:filename-regex-filter>  
        </file:inbound-endpoint>  
        
        <logger message="File received: #[message.id]" level="INFO" doc:name="File received"/>
        
        <component class="com.mulesoft.services.file.StreamCRC32" doc:name="Perform CRC32 Check"/>
    </flow>
    <batch:job name="large-xml-processingBatch">
        <batch:process-records>
            <batch:step name="Batch_Step"/>
        </batch:process-records>
    </batch:job>
</mule>
